<h2 class='text-primary'><%= t :landing_header %> </h2>


<%= form_for Epitaph.new, url: write_new_epitaph_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: session[:name] %>
  <%= submit_tag t('write_yours_submit') %>
<% end %>
